%table.table.table-striped#lite_incidental_trips_table
  %thead
    %tr
      %th
        %input#lite_incidental_trips_master_checkbox{type: "checkbox"}
      %th Date
      %th Number of Incidental Trips
      %th Total Mileage
      %th Vehicle
      %th Actions
  %tbody
    - trips.each do |trip|
      %tr{data: {trip_id: trip.id}}
        %td
          %input.trip-selected{type: "checkbox"}
        %td= format_date trip.trip_date
        %td= trip.num_trips
        %td= trip.total_mileage
        %td= trip.vehicle ? trip.vehicle.name : translate_helper('no_vehicle')
        %td
          = link_to edit_lite_lite_incidental_trip_path(trip.id), style: 'padding-right: 5px;', title: 'Edit' do
            %i.fas.fa-pencil-alt
          = link_to lite_lite_incidental_trip_path(trip), method: :delete, title: 'Delete', data: { confirm: "Are you sure you want to delete this incidental trip?" } do
            %i.fa.fa-trash

:javascript
  $(function() {
    //configure_unassigned_trips_table();
  });