- # common
= render 'reports/common_csv_header.csv.haml'

- if @vehicles
  - trip_headers = [translate_helper(:vehicle_form_name_label), translate_helper(:mileage), "Number of One-Way Trips"]
  - detailed_headers = ["Date", "One-Way Trips", "Seniors", "Disabled", "Vehicle", "Start Odometer", "End Odometer", "Lift Odometer", "Pre-Trip"]

  = CSV.generate_line([translate_helper(:summary)], {:row_sep => nil}).html_safe
  = CSV.generate_line(trip_headers, {:row_sep => nil}).html_safe
  - @service_vehicles.each do |vehicle|
    = CSV.generate_line([vehicle.name, @miles_by_vehicle[vehicle.id].to_f, @trips_count[vehicle.id].to_i], {:row_sep => nil}).html_safe
  = CSV.generate_line([translate_helper("total") + " (#{@total_vehicle_count.to_i} vehicles)", @total_vehicle_miles.to_f, @total_trips_count.to_i], {:row_sep => nil}).html_safe

  = CSV.generate_line([""], {:row_sep => nil}).html_safe
  - if @run_dates
    - @run_dates.each do |date|
      - next if @report_data[date].blank?
      = CSV.generate_line([format_date(date)], {:row_sep => nil}).html_safe
      = CSV.generate_line([translate_helper(:vehicle_form_name_label), translate_helper(:start_odometer), translate_helper(:end_odometer), translate_helper(:mileage), 'Number of One-Way Trips', 'Number of Senior Trips', 'Number of Disabled Trips'], {:row_sep => nil}).html_safe
      - @vehicles_basic_data.each do | vehicle_id, vehicle_name |
        - next if @report_data[date][vehicle_id].blank?
        - vehicle_data = @report_data[date][vehicle_id]
        = CSV.generate_line([vehicle_name, format_float_number(vehicle_data[:beginning_mileage]), format_float_number(vehicle_data[:ending_mileage]), format_float_number(vehicle_data[:mileage]), vehicle_data[:num_one_way_trips], vehicle_data[:num_senior_trips], vehicle_data[:num_disabled_trips]], {:row_sep => nil}).html_safe
      - total_data = @report_data_totals[date]
      = CSV.generate_line([translate_helper(:total), "", "", format_float_number(total_data[:mileage]), total_data[:num_one_way_trips], total_data[:num_senior_trips], total_data[:num_disabled_trips]], {:row_sep => nil}).html_safe

