%table.table.table-striped#lite_customers_table
  %thead
    %tr
      %th
        %input#lite_customers_master_checkbox{type: "checkbox"}
      %th First Name
      %th Last Name
      %th Senior
      %th Disabled
      %th Actions
  %tbody
    - customers.each do |customer|
      %tr{data: {customer_id: customer.id}}
        %td
          %input.trip-selected{type: "checkbox"}
        %td= customer.first_name
        %td= customer.last_name
        %td= check_box_tag 'senior', '1', customer.senior, :disabled => true
        %td= check_box_tag 'disabled', '1', customer.disabled, :disabled => true
        %td
          = link_to edit_lite_lite_customer_path(customer.id), style: 'padding-right: 5px;', title: 'Edit' do
            %i.fas.fa-pencil-alt
          = link_to lite_lite_customer_path(customer), method: :delete, title: 'Delete', data: { confirm: "Are you sure you want to delete this customer?" } do
            %i.fa.fa-trash

:javascript
  $(function() {
    //configure_unassigned_trips_table();
  });